<a href="https://colab.research.google.com/github/Mahendran180923/News_Senticonomy/blob/main/Senticonomy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Senticonomy

In [22]:
!pip install kaggle -q

In [27]:
!chmod 600 /content/kaggle.json

In [30]:
!curl -L -o nyt-articles-21m-2000-present.zip https://www.kaggle.com/api/v1/datasets/download/aryansingh0909/nyt-articles-21m-2000-present

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  875M  100  875M    0     0  61.0M      0  0:00:14  0:00:14 --:--:-- 79.3M

In [31]:
!unzip -q nyt-articles-21m-2000-present.zip

In [32]:
import pandas as pd
import numpy as np

data = pd.read_csv('/content/nyt-metadata.csv')
print(data.head())

<ipython-input-32-eb67b0e8ac3e>:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/nyt-metadata.csv')

                                            abstract  \
0  Article on upcoming New York Giants-Dallas Cow...
1  Jeanne C Pond letter expresses hope that spiri...
2  Many experts on Y2K computer problem report th...
3  WILL the forces of globalism continue to push ...
4   SPECIAL TODAY  The Millennium  Envisioning th...

                                             web_url  \
0  https://www.nytimes.com/2000/01/01/sports/pro-...
1  https://www.nytimes.com/2000/01/01/opinion/l-o...
2  https://www.nytimes.com/2000/01/01/us/1-1-00-t...
3  https://www.nytimes.com/2000/01/01/news/vision...
4  https://www.nytimes.com/2000/01/01/nyregion/in...

                                             snippet  \
0  Article on upcoming New York Giants-Dallas Cow...
1  Jeanne C Pond letter expresses hope that spiri...
2  Many experts on Y2K computer problem report th...
3                                                NaN
4                                                NaN

                                      lead_paragraph print_section print_page  \
0  Waiting in the visiting locker room at Texas S...             D        2.0
1                                     To the Editor:             A       30.0
2  As the world slid nervously yesterday through ...             A       10.0
3  WILL the forces of globalism continue to push ...             E        4.0
4                                      SPECIAL TODAY             A        1.0

               source multimedia  \
0  The New York Times         []
1  The New York Times         []
2  The New York Times         []
3  The New York Times         []
4  The New York Times         []

                                            headline  \
0  {'main': 'Playoffs or No, Dallas Provides The ...
1  {'main': 'On This First Day, a Fanfare for the...
2  {'main': "Internet's Cheering Squad Nervously ...
3  {'main': 'Economic Thinking Finds a Free Marke...
4  {'main': 'INSIDE', 'kicker': None, 'content_ki...

                                            keywords  \
0  [{'name': 'organizations', 'value': 'New York ...
1  [{'name': 'persons', 'value': 'Pond, Jeanne C'...
2  [{'name': 'subject', 'value': 'Electronic Mail...
3                                                 []
4                                                 []

                    pub_date document_type          news_desk section_name  \
0  2000-01-01 05:00:00+00:00       article        Sports Desk       Sports
1  2000-01-01 05:00:00+00:00       article     Editorial Desk      Opinion
2  2000-01-01 05:00:00+00:00       article      National Desk         U.S.
3  2000-01-01 05:00:00+00:00       article     The Millennium     Archives
4  2000-01-01 05:00:00+00:00       article  Metropolitan Desk     New York

                                              byline type_of_material  \
0  {'original': 'By Bill Pennington', 'person': [...             News
1  {'original': '', 'person': [], 'organization':...           Letter
2  {'original': 'By Barnaby J. Feder', 'person': ...             News
3  {'original': 'By Floyd Norris', 'person': [{'f...             News
4  {'original': '', 'person': [], 'organization':...          Summary

                                                 _id  word_count  \
0  nyt://article/01111a48-3502-5021-8096-bc929379...       819.0
1  nyt://article/02328edc-dad1-5eb0-900e-917162e4...       122.0
2  nyt://article/02a8f89b-153f-5b84-983c-e328de5b...       761.0
3  nyt://article/0634d837-97b8-59b5-aa17-f90d1a89...       916.0
4  nyt://article/0654cc64-c37f-594d-9290-1ce578cd...       102.0

                                                 uri subsection_name
0  nyt://article/01111a48-3502-5021-8096-bc929379...             NaN
1  nyt://article/02328edc-dad1-5eb0-900e-917162e4...             NaN
2  nyt://article/02a8f89b-153f-5b84-983c-e328de5b...             NaN
3  nyt://article/0634d837-97b8-59b5-aa17-f90d1a89...             NaN
4  nyt://article/0654cc64-c37f-594d-9290-1ce578cd...             NaN

In [ ]:
data.columns

Index(['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section',
       'print_page', 'source', 'multimedia', 'headline', 'keywords',
       'pub_date', 'document_type', 'news_desk', 'section_name', 'byline',
       'type_of_material', '_id', 'word_count', 'uri', 'subsection_name'],
      dtype='object')

In [ ]:
data.isnull().sum()

abstract              31917
web_url                   1
snippet              196167
lead_paragraph        41988
print_section        746453
print_page           747701
source                    1
multimedia                1
headline                  1
keywords                  1
pub_date                  1
document_type             1
news_desk            301285
section_name           2010
byline                    1
type_of_material      85285
_id                       1
word_count                2
uri                       2
subsection_name     1603383
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191517 entries, 0 to 2191516
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   abstract          object
 1   web_url           object
 2   snippet           object
 3   lead_paragraph    object
 4   print_section     object
 5   print_page        object
 6   source            object
 7   multimedia        object
 8   headline          object
 9   keywords          object
 10  pub_date          object
 11  document_type     object
 12  news_desk         object
 13  section_name      object
 14  byline            object
 15  type_of_material  object
 16  _id               object
 17  word_count        float64
 18  uri               object
 19  subsection_name   object
dtypes: float64(1), object(19)
memory usage: 334.4+ MB

In [ ]:
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191517 entries, 0 to 2191516
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   abstract          object
 1   web_url           object
 2   snippet           object
 3   lead_paragraph    object
 4   print_section     object
 5   print_page        object
 6   source            object
 7   multimedia        object
 8   headline          object
 9   keywords          object
 10  pub_date          object
 11  document_type     object
 12  news_desk         object
 13  section_name      object
 14  byline            object
 15  type_of_material  object
 16  _id               object
 17  word_count        float64
 18  uri               object
 19  subsection_name   object
dtypes: float64(1), object(19)
memory usage: 334.4+ MB

In [ ]:
df.dropna(how='any', inplace=True)

In [ ]:
df.isnull().sum()

abstract            0
web_url             0
snippet             0
lead_paragraph      0
print_section       0
print_page          0
source              0
multimedia          0
headline            0
keywords            0
pub_date            0
document_type       0
news_desk           0
section_name        0
byline              0
type_of_material    0
_id                 0
word_count          0
uri                 0
subsection_name     0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370163 entries, 83 to 2191406
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   abstract          370163 non-null  object
 1   web_url           370163 non-null  object
 2   snippet           370163 non-null  object
 3   lead_paragraph    370163 non-null  object
 4   print_section     370163 non-null  object
 5   print_page        370163 non-null  object
 6   source            370163 non-null  object
 7   multimedia        370163 non-null  object
 8   headline          370163 non-null  object
 9   keywords          370163 non-null  object
 10  pub_date          370163 non-null  object
 11  document_type     370163 non-null  object
 12  news_desk         370163 non-null  object
 13  section_name      370163 non-null  object
 14  byline            370163 non-null  object
 15  type_of_material  370163 non-null  object
 16  _id               370163 non-null  object
 17  word_count        370163 non-null  float64
 18  uri               370163 non-null  object
 19  subsection_name   370163 non-null  object
dtypes: float64(1), object(19)
memory usage: 59.3+ MB

In [ ]:
df.head()

,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,_id,word_count,uri,subsection_name
83,"Gholam-Reza Hassani, the most conservative voi...",https://www.nytimes.com/2000/01/01/washington/...,"Gholam-Reza Hassani, the most conservative voi...","FOR some in the ancient world, where civilizat...",E,16.0,The New York Times,[],{'main': 'Praying for a Century That Is Not th...,"[{'name': 'glocations', 'value': 'Iran', 'rank...",2000-01-01 05:00:00+00:00,article,The Millennium,U.S.,"{'original': 'By John F. Burns', 'person': [{'...",News,nyt://article/56181a12-fe57-5a4c-a94b-49c73a70...,1246.0,nyt://article/56181a12-fe57-5a4c-a94b-49c73a70...,Politics
243,R W Apple Jr article on the prospects for Amer...,https://www.nytimes.com/2000/01/01/washington/...,R W Apple Jr article on the prospects for Amer...,"IT was Henry Luce, as every red-blooded Yankee...",E,2.0,The New York Times,[],"{'main': ""As the 'American Century' Extends It...","[{'name': 'subject', 'value': 'United States I...",2000-01-01 05:00:00+00:00,article,The Millennium,U.S.,"{'original': 'By R. W. Apple Jr', 'person': [{...",News,nyt://article/ffe406ba-af5f-5bd7-bbcd-5335ccb4...,1121.0,nyt://article/ffe406ba-af5f-5bd7-bbcd-5335ccb4...,Politics
269,"Article on Jonathan's Dream, fully-accessible ...",https://www.nytimes.com/2000/01/02/nyregion/a-...,"Article on Jonathan's Dream, fully-accessible ...","FOR a while, when he was younger, his wheelcha...",14CN,8.0,The New York Times,[],"{'main': ""A Playground With a Difference: It's...","[{'name': 'glocations', 'value': 'West Hartfor...",2000-01-02 05:00:00+00:00,article,Connecticut Weekly Desk,New York,"{'original': 'By Michelle M. Murphy', 'person'...",News,nyt://article/0ab4bb0a-4df7-5da3-b241-08ac7743...,1644.0,nyt://article/0ab4bb0a-4df7-5da3-b241-08ac7743...,Connecticut
355,June Pusbach O'Neill discusses her book The Gr...,https://www.nytimes.com/2000/01/02/nyregion/au...,June Pusbach O'Neill discusses her book The Gr...,WHEN June Pusbach O'Neill tells people that sh...,14WC,15.0,The New York Times,[],"{'main': 'Author Champions Sea Serpent', 'kick...","[{'name': 'glocations', 'value': 'New England ...",2000-01-02 05:00:00+00:00,article,Westchester Weekly Desk,New York,"{'original': 'By Patrick Huyghe', 'person': [{...",News,nyt://article/39eab464-bdc2-5b96-bf5a-893d8751...,1344.0,nyt://article/39eab464-bdc2-5b96-bf5a-893d8751...,Westchester
438,"Interview with June Pusbach O'Neill, author of...",https://www.nytimes.com/2000/01/02/nyregion/se...,"Interview with June Pusbach O'Neill, author of...",WHEN June Pusbach O'Neill tells people that sh...,14CN,17.0,The New York Times,[],{'main': 'Sea Serpent Fans Get a Book to Savor...,"[{'name': 'persons', 'value': 'Huyghe, Patrick...",2000-01-02 05:00:00+00:00,article,Connecticut Weekly Desk,New York,"{'original': 'By Patrick Huyghe', 'person': [{...",News,nyt://article/65e961e6-d8a2-5227-8bb6-c4e91ac4...,1257.0,nyt://article/65e961e6-d8a2-5227-8bb6-c4e91ac4...,Connecticut

In [ ]:
df.pub_date.unique()

array(['2000-01-01 05:00:00+00:00', '2000-01-02 05:00:00+00:00',
       '2000-01-09 05:00:00+00:00', ..., '2024-12-30 19:51:03+00:00',
       '2024-12-30 20:10:54+00:00', '2024-12-30 20:20:07+00:00'],
      dtype=object)

In [ ]:
df['pub_date'] = pd.to_datetime(df['pub_date'])

In [ ]:
!pip install python-dateutil

Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil) (1.17.0)

In [ ]:
!pip install pytz

Requirement already satisfied: pytz in /usr/local/lib/python3.11/dist-packages (2025.1)

In [ ]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
import pytz

# Calculate the date 10 years ago
ten_years_ago = (datetime.now(pytz.UTC) - relativedelta(years=10))

# Filter the DataFrame to include only rows with pub_date within the last 10 years
df_filtered = df[df['pub_date'] >= ten_years_ago]

# Print the first few rows of the filtered DataFrame
print(df_filtered.head())

                                                  abstract  \
1700782  With an upturn in tax receipts and a dip in in...
1700786  Museums across the United States are adding au...
1700789  An exhibition about Kepes’s experiments with l...
1700790  A dizzying array of exhibitions has been organ...
1700792  Abdul Rashid Dostum, a strongman with an unsav...

                                                   web_url  \
1700782  https://www.nytimes.com/2015/03/19/world/europ...
1700786  https://www.nytimes.com/2015/03/19/arts/artssp...
1700789  https://www.nytimes.com/2015/03/19/arts/artssp...
1700790  https://www.nytimes.com/2015/03/19/arts/artssp...
1700792  https://www.nytimes.com/2015/03/19/world/asia/...

                                                   snippet  \
1700782  With an upturn in tax receipts and a dip in in...
1700786  Museums across the United States are adding au...
1700789  An exhibition about Kepes’s experiments with l...
1700790  A dizzying array of exhibitions has been organ...
1700792  Abdul Rashid Dostum, a strongman with an unsav...

                                            lead_paragraph print_section  \
1700782  LONDON — With British elections approaching, G...             A
1700786  It’s now easier for mainland Chinese to visit ...             F
1700789  LONDON — Whenever he had free time, the Hungar...             F
1700790  While the Alice of Lewis Carroll’s “Alice’s Ad...             F
1700792  KABUL, Afghanistan — The security meeting was ...             A

        print_page              source  \
1700782          8  The New York Times
1700786         12  The New York Times
1700789         24  The New York Times
1700790          4  The New York Times
1700792          6  The New York Times

                                                multimedia  \
1700782  [{'rank': 0, 'subtype': 'xlarge', 'caption': N...
1700786  [{'rank': 0, 'subtype': 'xlarge', 'caption': N...
1700789  [{'rank': 0, 'subtype': 'xlarge', 'caption': N...
1700790  [{'rank': 0, 'subtype': 'xlarge', 'caption': N...
1700792  [{'rank': 0, 'subtype': 'xlarge', 'caption': N...

                                                  headline  \
1700782  {'main': 'George Osborne Offers Tax Breaks to ...
1700786  {'main': 'As Chinese Tourism Increases, Americ...
1700789  {'main': 'Gyorgy Kepes, Wizard of Light and Mo...
1700790  {'main': 'For ‘Alice in Wonderland’ Milestone,...
1700792  {'main': 'Afghan First Vice President, an Ex-W...

                                                  keywords  \
1700782  [{'name': 'glocations', 'value': 'Great Britai...
1700786  [{'name': 'subject', 'value': 'Museums', 'rank...
1700789  [{'name': 'persons', 'value': 'Rawsthorn, Alic...
1700790  [{'name': 'subject', 'value': 'Books and Liter...
1700792  [{'name': 'persons', 'value': 'Ahmed, Azam', '...

                         pub_date document_type news_desk section_name  \
1700782 2015-03-18 08:29:41+00:00       article   Foreign        World
1700786 2015-03-18 09:00:25+00:00       article   Culture         Arts
1700789 2015-03-18 09:00:31+00:00       article   Culture         Arts
1700790 2015-03-18 09:00:33+00:00       article   Culture         Arts
1700792 2015-03-18 09:16:19+00:00       article   Foreign        World

                                                    byline type_of_material  \
1700782  {'original': 'By Stephen Castle', 'person': [{...             News
1700786  {'original': 'By Jane L. Levere', 'person': [{...             News
1700789  {'original': 'By Alice Rawsthorn', 'person': [...             News
1700790  {'original': 'By Jane L. Levere', 'person': [{...             News
1700792  {'original': 'By Azam Ahmed', 'person': [{'fir...             News

                                                       _id  word_count  \
1700782  nyt://article/ba3083f0-7c8c-5541-98c5-f95fcfb5...       783.0
1700786  nyt://article/0eb74aa9-e898-5465-be1f-2d40ec83...      1080.0
1700789  nyt://article/cac5e65c-1349-5fab-b8ff-e3353fec...      1015.0
1700790  nyt://article/e985aeed-03f0-5ca8-8eeb-1dbbfcdc...       895.0
1700792  nyt://article/fbfdc9cf-b08d-53d5-ab02-dfd665b5...      1373.0

                                                       uri subsection_name
1700782  nyt://article/ba3083f0-7c8c-5541-98c5-f95fcfb5...          Europe
1700786  nyt://article/0eb74aa9-e898-5465-be1f-2d40ec83...            Arts
1700789  nyt://article/cac5e65c-1349-5fab-b8ff-e3353fec...            Arts
1700790  nyt://article/e985aeed-03f0-5ca8-8eeb-1dbbfcdc...            Arts
1700792  nyt://article/fbfdc9cf-b08d-53d5-ab02-dfd665b5...    Asia Pacific

In [ ]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142085 entries, 1700782 to 2191406
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   abstract          142085 non-null  object
 1   web_url           142085 non-null  object
 2   snippet           142085 non-null  object
 3   lead_paragraph    142085 non-null  object
 4   print_section     142085 non-null  object
 5   print_page        142085 non-null  object
 6   source            142085 non-null  object
 7   multimedia        142085 non-null  object
 8   headline          142085 non-null  object
 9   keywords          142085 non-null  object
 10  pub_date          142085 non-null  datetime64[ns, UTC]
 11  document_type     142085 non-null  object
 12  news_desk         142085 non-null  object
 13  section_name      142085 non-null  object
 14  byline            142085 non-null  object
 15  type_of_material  142085 non-null  object
 16  _id               142085 non-null  object
 17  word_count        142085 non-null  float64
 18  uri               142085 non-null  object
 19  subsection_name   142085 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), object(18)
memory usage: 22.8+ MB

In [ ]:
df_filtered.to_csv('news_data.csv')

In [ ]:
import os

file_size = os.path.getsize('news_data.csv')

if file_size < 1024:
    print(f"The size of the CSV file is: {file_size} bytes")
elif file_size < 1024 ** 2:
    print(f"The size of the CSV file is: {file_size / 1024:.2f} KB")
else:
    print(f"The size of the CSV file is: {file_size / (1024 ** 2):.2f} MB")

The size of the CSV file is: 450.77 MB

In [ ]:
df_filtered

,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,_id,word_count,uri,subsection_name
1700782,With an upturn in tax receipts and a dip in in...,https://www.nytimes.com/2015/03/19/world/europ...,With an upturn in tax receipts and a dip in in...,"LONDON — With British elections approaching, G...",A,8,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'George Osborne Offers Tax Breaks to ...,"[{'name': 'glocations', 'value': 'Great Britai...",2015-03-18 08:29:41+00:00,article,Foreign,World,"{'original': 'By Stephen Castle', 'person': [{...",News,nyt://article/ba3083f0-7c8c-5541-98c5-f95fcfb5...,783.0,nyt://article/ba3083f0-7c8c-5541-98c5-f95fcfb5...,Europe
1700786,Museums across the United States are adding au...,https://www.nytimes.com/2015/03/19/arts/artssp...,Museums across the United States are adding au...,It’s now easier for mainland Chinese to visit ...,F,12,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'As Chinese Tourism Increases, Americ...","[{'name': 'subject', 'value': 'Museums', 'rank...",2015-03-18 09:00:25+00:00,article,Culture,Arts,"{'original': 'By Jane L. Levere', 'person': [{...",News,nyt://article/0eb74aa9-e898-5465-be1f-2d40ec83...,1080.0,nyt://article/0eb74aa9-e898-5465-be1f-2d40ec83...,Arts
1700789,An exhibition about Kepes’s experiments with l...,https://www.nytimes.com/2015/03/19/arts/artssp...,An exhibition about Kepes’s experiments with l...,"LONDON — Whenever he had free time, the Hungar...",F,24,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'Gyorgy Kepes, Wizard of Light and Mo...","[{'name': 'persons', 'value': 'Rawsthorn, Alic...",2015-03-18 09:00:31+00:00,article,Culture,Arts,"{'original': 'By Alice Rawsthorn', 'person': [...",News,nyt://article/cac5e65c-1349-5fab-b8ff-e3353fec...,1015.0,nyt://article/cac5e65c-1349-5fab-b8ff-e3353fec...,Arts
1700790,A dizzying array of exhibitions has been organ...,https://www.nytimes.com/2015/03/19/arts/artssp...,A dizzying array of exhibitions has been organ...,While the Alice of Lewis Carroll’s “Alice’s Ad...,F,4,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'For ‘Alice in Wonderland’ Milestone,...","[{'name': 'subject', 'value': 'Books and Liter...",2015-03-18 09:00:33+00:00,article,Culture,Arts,"{'original': 'By Jane L. Levere', 'person': [{...",News,nyt://article/e985aeed-03f0-5ca8-8eeb-1dbbfcdc...,895.0,nyt://article/e985aeed-03f0-5ca8-8eeb-1dbbfcdc...,Arts
1700792,"Abdul Rashid Dostum, a strongman with an unsav...",https://www.nytimes.com/2015/03/19/world/asia/...,"Abdul Rashid Dostum, a strongman with an unsav...","KABUL, Afghanistan — The security meeting was ...",A,6,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'Afghan First Vice President, an Ex-W...","[{'name': 'persons', 'value': 'Ahmed, Azam', '...",2015-03-18 09:16:19+00:00,article,Foreign,World,"{'original': 'By Azam Ahmed', 'person': [{'fir...",News,nyt://article/fbfdc9cf-b08d-53d5-ab02-dfd665b5...,1373.0,nyt://article/fbfdc9cf-b08d-53d5-ab02-dfd665b5...,Asia Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191396,"Exchanges have taken place before, but this de...",https://www.nytimes.com/2024/12/30/world/europ...,"Exchanges have taken place before, but this de...",Russia and Ukraine announced on Monday that th...,A,10.0,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'Russia and Ukraine Swap More Than 30...,"[{'name': 'subject', 'value': 'Prisons and Pri...",2024-12-30 17:57:00+00:00,article,Foreign,World,"{'original': 'By Nataliya Vasilyeva', 'person'...",News,nyt://article/22a2ac37-7b67-5afe-98e6-9dd8e69b...,445.0,nyt://article/22a2ac37-7b67-5afe-98e6-9dd8e69b...,Europe
2191398,Jimmy Carter’s daughter had an extraordinary a...,https://www.nytimes.com/2024/12/30/us/politics...,Jimmy Carter’s daughter had an extraordinary a...,The moment lingers in the national memory: a 9...,A,16.0,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'Amy Carter, Thrust Into the Public E...","[{'name': 'persons', 'value': 'Carter, Amy', '...",2024-12-30 18:23:54+00:00,article,Washington,U.S.,"{'original': 'By Sheryl Gay Stolberg', 'person...",News,nyt://article/73c0b229-6a4b-5152-82b5-47c229a7...,1216.0,nyt://article/73c0b229-6a4b-5152-82b5-47c229a7...,Politics
2191403,Readers praise the former president’s accompli...,https://www.nytimes.com/2024/12/30/opinion/let...,Readers praise the former president’s accompli...,To the Editor:,A,21.0,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'Jimmy Carter, the President and the ...","[{'name': 'persons', 'value': 'Carter, Jimmy',...",2024-12-30 19:51:03+00:00,article,Letters,Opinion,"{'original': '', 'person': [], 'organization':...",Letter,nyt://article/daae620d-7c90-501e-89e8-732f96ae...,1253.0,nyt://article/daae620d-7c90-501e-89e8-732f96ae...,Letters
2191404,"For much of the period since Election Day, the...",https://www.nytimes.com/2024/12/30/us/politics...,"For much of the period since Election Day, the...",Elon Musk plays many roles with President-elec...,A,19.0,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'How Elon Musk Has Planted Himself Al...,"[{'name': 'subject', 'value': 'Presidential El...",2024-12-30 20:10:54+00:00,article,Washington,U.S.,"{'original': 'By Maggie Haberman, Jonathan Swa...",News,nyt://article/048af90e-ad29-57f2-9d62-b4623bd7...,881.0,nyt://article/048af90e-ad29-57f2-9d62-b4623bd7...,Politics
2191406,The episode comes at a particularly sensitive ...,https://www.nytimes.com/2024/12/30/us/politics...,The episode comes at a particularly sensitive ...,One of China’s intelligence agencies hacked th...,A,14.0,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'China Hacked Treasury Dept. in ‘Majo...,"[{'name': 'glocations', 'value': 'China', 'ran...",2024-12-30 20:20:07+00:00,article,Washington,U.S.,{'original': 'By Ana Swanson and David E. Sang...,News,nyt://article/0624b359-b175-566b-b4ca-5a2cbcad...,745.0,nyt://article/0624b359-b175-566b-b4ca-5a2cbcad...,Politics